<ion-header>
	<ion-navbar>
		<ion-title>
			Auth with Ionic 3
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

  <h1>Hello</h1>  
	<button ion-button block (click)="signInWithFacebook()">Entrar com o &nbsp;<ion-icon name="logo-facebook"></ion-icon></button>

</ion-content>