<ion-header>
	<ion-navbar>
		<ion-title>
			Logged with Ionic 3
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<!-- Verifica se msgReady é true para mostrar a mensagem formatada
	<ion-card *ngIf='msgReady'>
		
			<ion-item>
				<ion-avatar item-start>
					<img [src]="msg.picture.data.url">
				</ion-avatar>
				 Acessa as propriedades da resposta pra mostrar as informações depois crio um model
				<h2>{{msg.name}}</h2>
				<p>{{msg.feed.data[0].created_time}}</p>
			</ion-item>
		
			<ion-card-content>
				<p>{{msg.feed.data[0].message}}</p>
			</ion-card-content>
		
			<ion-row>
				<ion-col>
					<button ion-button icon-left clear small>
						<ion-icon name="thumbs-up"></ion-icon>
						<div>{{msg.feed.data[0].reactions.data.length}}</div>
					</button>
				</ion-col>
				<ion-col>
					<button ion-button icon-left clear small>
						<ion-icon name="text"></ion-icon>
						<div>{{msg.feed.data[0].comments.data.length}}</div>
					</button>
				</ion-col>
			</ion-row>
		
		</ion-card>
  
	<button ion-button outline (click)="signOut()">Logout</button> -->
	<ion-card *ngIf='msgReady'>
		<img [src]="user.photoURL"/>
		<ion-card-content>
		  <ion-card-title>
			Welcome {{user.displayName}}!
			</ion-card-title>
		  <p>
			Your email is: {{user.email}}
		  </p>
		</ion-card-content>
	  </ion-card>
	  <button ion-button outline (click)="signOut()">Logout</button>
</ion-content>